body {
    .container-fluid.container-home {
        min-height: 100vh;
        background-color: #FBFBFB;
        .border-home-light {
            background-color: #061E47;
        }
        .border-home-dark {
            background-color: #05263B;
        }
        .border-home {
            width: 90%;

            .row {
                [class^="col"] {
                    .dark-theme-area {
                        cursor: pointer;
                    }
                    .border-home-task {
                        width: 70%;

                        .row {
                            background-color: #68A4F1;
                            padding: 2rem 0 2rem 0;
                            [class^="col"] {
                                .count-task-light {
                                    background-color: #061E47;
                                }
                                .count-task-dark {
                                    background-color: #05263B;
                                }
                                .count-task {
                                    width: 150px;
                                    height: 150px;
                                    h1 {
                                        padding-top: 3.3rem;
                                    }
                                }
                            }
                        }

                        .task-area {

                            [class^="p"].area-input {

                                width: 800px;
                            }

                            [class^="p"] {
                                padding-top: 10px;
                                .btn-add-task-light {
                                    background-color: #68A4F1;
                                }
                                .btn-add-task {
                                    width: 50px;
                                    height: 50px;
                                    padding-top: 10px;
                                }
                            }
                        }
                    }

                    .border-todo-list-item {
                        width: 70%;

                        ul {
                            list-style-type: none;
                            padding: 0;
                            margin: 0;
                            li.li-todo-list-item-light {
                                background-color: #2B6AD0;
                            }
                            li.li-todo-list-item {
                                padding: 1px 0 0 0;
                                .flex-todo-list-item {
                                    margin: 1rem 0 0 0;
                                    .btn-is-done {
                                        margin-left: 1rem;
                                    }
                                    .trash-icon {
                                        width: 26px;
                                        height: 26px;
                                        margin-right: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) {
    [class^="d"] {
        [class^="p"] {
            .btn-576 {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .task-area {

        [class^="p"].area-input {
            .task-input {
                width: 100%;
            }
        }

        [class^="p"] {
            .btn-add-task {
                display: none;
            }
        }
    }

    div[class^="d"] {
        div[class^="p"] {
            .btn-576 {
                display: block;
            }
        }
    }
}