@mixin button-home ($font-size, $width) {
    font-size: $font-size;
    width: $width;
}

body {
    .container-fluid.home {
        background-color: #FBFBFB;
        min-height: 100vh;

        section.border-home {
            margin: 3rem 5rem 0 5rem;

            form {
                input {
                    margin: 0 15rem 0 0;
                }

            }
        }

        button.button-home {
            @include button-home(14px, 9.5rem);
        }
    }
}