body .container-fluid.container-home {
  min-height: 100vh;
  background-color: #FBFBFB;
}
body .container-fluid.container-home .border-home-light {
  background-color: #061E47;
}
body .container-fluid.container-home .border-home-dark {
  background-color: #05263B;
}
body .container-fluid.container-home .border-home {
  width: 90%;
}
body .container-fluid.container-home .border-home .row [class^=col] .dark-theme-area {
  cursor: pointer;
}
body .container-fluid.container-home .border-home .row [class^=col] .border-home-task {
  width: 70%;
}
body .container-fluid.container-home .border-home .row [class^=col] .border-home-task .row {
  background-color: #68A4F1;
  padding: 2rem 0 2rem 0;
}
body .container-fluid.container-home .border-home .row [class^=col] .border-home-task .row [class^=col] .count-task-light {
  background-color: #061E47;
}
body .container-fluid.container-home .border-home .row [class^=col] .border-home-task .row [class^=col] .count-task {
  width: 150px;
  height: 150px;
}
body .container-fluid.container-home .border-home .row [class^=col] .border-home-task .row [class^=col] .count-task h1 {
  padding-top: 3.3rem;
}
body .container-fluid.container-home .border-home .row [class^=col] .border-home-task .task-area [class^=p].area-input {
  width: 800px;
}
body .container-fluid.container-home .border-home .row [class^=col] .border-home-task .task-area [class^=p] {
  padding-top: 10px;
}
body .container-fluid.container-home .border-home .row [class^=col] .border-home-task .task-area [class^=p] .btn-add-task-light {
  background-color: #68A4F1;
}
body .container-fluid.container-home .border-home .row [class^=col] .border-home-task .task-area [class^=p] .btn-add-task {
  width: 50px;
  height: 50px;
  padding-top: 10px;
}
body .container-fluid.container-home .border-home .row [class^=col] .border-todo-list-item {
  width: 70%;
}
body .container-fluid.container-home .border-home .row [class^=col] .border-todo-list-item ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
body .container-fluid.container-home .border-home .row [class^=col] .border-todo-list-item ul li.li-todo-list-item-light {
  background-color: #2B6AD0;
}
body .container-fluid.container-home .border-home .row [class^=col] .border-todo-list-item ul li.li-todo-list-item {
  padding: 1px 0 0 0;
}
body .container-fluid.container-home .border-home .row [class^=col] .border-todo-list-item ul li.li-todo-list-item .flex-todo-list-item {
  margin: 1rem 0 0 0;
}
body .container-fluid.container-home .border-home .row [class^=col] .border-todo-list-item ul li.li-todo-list-item .flex-todo-list-item .btn-is-done {
  margin-left: 1rem;
}
body .container-fluid.container-home .border-home .row [class^=col] .border-todo-list-item ul li.li-todo-list-item .flex-todo-list-item .trash-icon {
  width: 26px;
  height: 26px;
  margin-right: 1rem;
}

@media only screen and (min-width: 576px) {
  [class^=d] [class^=p] .btn-576 {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .task-area [class^=p].area-input .task-input {
    width: 100%;
  }
  .task-area [class^=p] .btn-add-task {
    display: none;
  }
  div[class^=d] div[class^=p] .btn-576 {
    display: block;
  }
}/*# sourceMappingURL=home.css.map */